/* CSS reset */
:root {
    --blue: hsl(223, 87%, 63%);

    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html body {
    overflow: hidden;
    height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 1.5rem 0;
    font-weight: 700;
}

h2 .dot {
    color: var(--blue);
}

h1 {
    margin-bottom: .5rem;
    font-weight: 700;
}

h1 .text {
    font-weight: 300;
    color: var(--gray);
}

h3 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 16px;
}

form {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 36rem;
}

input {
    padding: 0 2rem;
    outline: none;
    border-radius: 50px;
    height: 3rem;
    width: 24rem;
    border: 1px solid var(--pale-blue);
}

/* Email valdation */

#text {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    color: var(--light-red);
    margin:1rem 0 0 0;

}

#button {
    height: 3rem;
    width: 10rem;
    margin-left: 1em;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--blue);
    color: white;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    box-shadow: .5em .5em .8em var(--pale-blue);
}

#button:hover {
    opacity: 0.9;
}

.illustration {
    width: 35rem;
}

.copyright {
    color: var(--gray);
    font-size: 12px;
    font-weight: 300;
}


/* ----ICONS---- */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
}

.facebook,
.twitter,
.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 25px;
    width: 25px;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    cursor: pointer;
}

.fab {
    color: var(--blue);
    font-size: 15px;

}

/* The icons on hover */
.facebook:hover,
.twitter:hover,
.instagram:hover {
    background-color: var(--blue);
    margin: 9px;
    width: 27px;
    height: 27px;
}

.facebook:hover>.fab {
    font-size: 17px;
    color: white;
    z-index: 2;
}

.twitter:hover>.fab {
    font-size: 17px;
    color: white;
    z-index: 2;
}

.instagram:hover>.fab {
    font-size: 17px;
    color: white;
    z-index: 2;
}


.copyright {
    position: relative;
    bottom: px;
}

/* Mobile */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    form {
        display: grid;
        grid-template-rows: 1fr .5fr 1fr;
    }

    input,
    #button {
        width: 20rem;
        margin: 0;
    }

    .illustration {
        width: 25rem;
    }
    /* Elements order */
    
    #text {order: 1}
    input {order: 0;}
    button {order: 2;}
    #text {
        margin: .6rem 0;
        height: 1rem;
    }

}


footer {
    width: 100vw;
    height: 2rem;
    position: absolute;
    bottom: 0;
    display: inherit;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

footer .attribution {
    font-size: 16px;
    font-weight: 300;
}

footer .attribution a {
    text-decoration: none;
    font-weight: 600;
    color: var(--light-red);
}

/* Attribution animation */

footer {
    position: absolute;
    transform: translateY(100%);
    transition: .5s;
}

footer::before {
    content: "";
    opacity: 0;
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 100%;
}

footer:hover {
    transform: translateY(0);
}